.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #373F51;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.btn-primary {
  color: #fff;
  background-color: #58A4B0;
  border-color: #58A4B0;
}
.btn-primary:hover {
  color: #fff;
  background-color: #373F51;
  border-color: #373F51;
}


.App-background{
  background-color: #A9BCD0;
  /* Set rules to fill background */
min-width: 1024px;
/* Set up proportionate scaling */
width: 100%;
height: auto;
/* Set up positioning */
position: fixed;
top: 0;
left: 0;
}

.logo {
  width: 40px;
  height: auto;
}

.form-signup {
  padding-top: 100px;
}

.navbar {
  color: #1B1B1E;
}